In [1]:
import pandas as pd

In [2]:
s = pd.Series([10, 4, 22, 1, 7])

In [3]:
s

0    10
1     4
2    22
3     1
4     7
dtype: int64

In [14]:
office_dict = {
    'limbaje':['Python', 'Java', 'JavaScript'],
    'developeri':[4, 2, 3]
    'senioritate':[7, 2, 1]
}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (445589139.py, line 3)

In [5]:
office_dict

{'limbaje': ['Python', 'Java', 'JavaScript'], 'developeri': [4, 2, 3]}

In [6]:
df = pd.DataFrame.from_dict(office_dict)

In [7]:
df

      limbaje  developeri
0      Python           4
1        Java           2
2  JavaScript           3

In [8]:
df.describe()

       developeri
count         3.0
mean          3.0
std           1.0
min           2.0
25%           2.5
50%           3.0
75%           3.5
max           4.0

In [9]:
df.max()

limbaje       Python
developeri         4
dtype: object

In [10]:
df.head()

      limbaje  developeri
0      Python           4
1        Java           2
2  JavaScript           3

In [11]:
df.midian()

AttributeError: 'DataFrame' object has no attribute 'midian'

In [12]:
df.median()

C:\Users\Bogdan\AppData\Local\Temp\ipykernel_5944\530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

developeri    3.0
dtype: float64

In [13]:
df['limbaje'][1]

'Java'