In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('source/devs.csv')

In [3]:
df

  Developer   Limbaj   Salariu
0  John Doe   Python      5000
1  Jane Max     Java      4000

In [4]:
df2 = pd.read_csv('source/devs.csv', index_col = 2)

In [5]:
df2

         Developer   Limbaj
 Salariu
5000      John Doe   Python
4000      Jane Max     Java

In [7]:
df2.dtypes

Developer    object
 Limbaj      object
dtype: object

In [ ]:
dfr =